body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0C67A0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.form-toggle .active {
  background-color: #033452;
  color: white;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #033452;
}

.form-box input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.form-box input:focus {
  outline: none;
  border-color: #033452;
}

.form-box button {
  padding: 10px;
  background-color: #033452;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.form-box button:hover {
  background-color: #0C67A0;
}

.form-box a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
  font-size: 14px;
}

.form-box a:hover {
  text-decoration: underline;
}

.form-box p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.form-box p a {
  text-align: center;
  display: inline;
  color: #007bff;
}
